

html, body{
  background-image: url('https://64.media.tumblr.com/0d76f1adb594eb34c481f9f35d7de7ef/b876681e58a9462a-39/s2048x3072/11583d74729342b0ef008daf454e2de3711c21de.jpg');
}


h1{
color: black;
}



h3{
  color: black;
}



h4{
  color: black;
}

a{
  color: blue;
}

a:visited {
  color: purple;
}


a:hover {
  color: blue;
}



.fab, .fas{
  background-color: #333333;
}



a > .fab, a > .fas{
  color: #eeeeee;
}

/*
This sets the colour of the circle around the icon when you hover over it
 */

.fab:hover, .fas:hover{
  background-color: blue;
}

/*
This sets the colour of icon itself when you hover over it
 */

a > .fab:hover, a > .fas:hover{
  color: #eeeeee;
}
