

html, body{
  background-image: url('https://64.media.tumblr.com/3c3bfbf1db922ed996072adee6790252/56a8e78f816ad2e9-33/s2048x3072/38e261fbb0f6bcb73c1022129c7b6478dea3e47d.jpg');
}


h1{
color: white;
}



h3{
  color: white;
}



h4{
  color: white;
}



a, a:visited {
  color: white;
}


a:hover {
  color: white;
}



.fab, .fas{
  background-color: #333333;
}



a > .fab, a > .fas{
  color: #eeeeee;
}

/*
This sets the colour of the circle around the icon when you hover over it
 */

.fab:hover, .fas:hover{
  background-color: blue;
}

/*
This sets the colour of icon itself when you hover over it
 */

a > .fab:hover, a > .fas:hover{
  color: #eeeeee;
}
